header{
    height: 100px;
    border: 1px black solid;
    background-color: antiquewhite;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    border: 2px rgb(red, green, blue);
    padding: 10px 20px;

}
a{  
    margin:0 20px;
    all:unset;

}
a:hover{
    color: yellowgreen;
}

#container{
    display: flex;
    justify-content: center;
    background-image: url("../Projet/IMG_20230914_145130.jpg");
    background-size: 100% 100%;
    
}

.my_class{
    width: 800px;
}

body{
    all: unset;
    margin: auto;
    background-image:url('./Projet/IMG_20230908_174423.jpg');
}


.contraine_main{
    display: flex;
    flex-direction: column;
   border: 1px black solid;
   max-width:600px !important;
   background-color: beige;
}

@media screen and ( max-width: 800px){ /*对于小于于800px宽度的内容修改*/
    #baobao{
        flex-direction: column-reverse;
    }
}

#baobao{
    background-color:red;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
}

.carry_contraine{
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}

.aside{
    border: 1px black solid;
    background-color: yellowgreen;
    width: 200px;;
}


.carre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80px;
    height:80px;
    border: 1px black solid;

}

.carre img{
    width: 45px;
    height: 45px;
}

.sous-titre{
    margin:5px 0 0;
}