header{
    height: 100px;
    border: 1px black solid;
    background-color:#ec4899/*AliceBlue */
    
}


nav{
   height: 50px;
}


#body-container{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    
}

.my_class{
    width: 80vw;
}

#main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container_main{
display: flex;
flex-direction: column;
border: 1px black solid;
background-color:silver;
width: 75%;
background-image: url(../Temp/【哲风壁纸】迷宫饭-饭.png);
background-size: 100% 100%;
}

/* @media screen and ( max-width: 800px){ /* Ce media Screen permet définir les fils <800px vont changé de la flex sens */
  /*   #baobao{
        flex-direction: column-reverse;
    } */



.carry_contraine{
    margin-left: 3%;
    }

.carry_contraine a{ 
        all: unset;
        color:red;
}

.carry_contraine a:hover{
    color: green;
}

.aside{
    border: 1px black solid;
    background-color:yellowgreen;
    width: 25%;
}


.carre{
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

.supplement{
    padding-left: 2%;
    height: 65vh;
    border: 1px black solid;
}
.contrat{
    
}
.carre img{
    width: 100px;
    height: 100px;
    border:1px black solid;
}
 .sous-titre{
    text-align: center;
 }

.aside input{
    width: 100%;
}

#video{
    display: flex;
    flex-direction: row;
    
}

#Social_medial{
    
}