header{
    height: auto;
    border: 1px black solid;
    background-color:#ec4899/*AliceBlue */
    
}


nav{
   height: 50px;
}


#body-container{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    flex-direction: column; 
    }

.my_class{
    margin:0 auto;
    width: 95vw;
    height: auto;
}

#main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;   
    max-height: 100vh;
}

.container_main{
display: flex;
flex-direction: column;
border: 1px black solid;
background-color:silver;
width: 75%;
background-image: url(../Temp/【哲风壁纸】迷宫饭-饭.png);
background-size: 100% 100%;
height: auto;
max-height: 100vh;
overflow: auto;
box-sizing: border-box;
}  /*box-sizing: border-box;Quand on définit la largeur et la hauteur d’un élément, 
    ce sont ses dimensions finales : le padding et la border ne les augmentent pas.*/

/* @media screen and ( max-width: 800px){ /* Ce media Screen permet définir les fils <800px vont changé de la flex sens */
  /*   #baobao{
        flex-direction: column-reverse;
    } */

 @media (max-width: 480px) {
        .aside {
          width: 100%;
        }
        .carre {
          width: 45%;
        }
        .form-line {
            flex-direction: column;
            align-items: flex-start;
          }
        
          .form-line label,
          .form-line input {
            width: 100%;
          }
      }

.carry_contraine{
    margin-left: 3%;

    }

.carry_contraine a{ 
        all: unset;
        color:red;
}

.carry_contraine a:hover{
    color: green;
}

.aside{
    border: 1px black solid;
    background-color:yellowgreen;
    width: 25%;
    box-sizing: border-box;
}


.carre{
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 150px;
}

.carre img{
    width: 80px;
    height: 80px;
    border:1px black solid;
    object-fit: contain;
    display: block;
    margin: auto;
}

.carre:hover{
    background-color: #ec4899;
    border-radius: 10px;
    transition: 0.5s;
}


.supplement{
    padding-left: 2%;
    height: auto;
    border: 1px black solid;
}


 .sous-titre{
    text-align: center;
 }

.aside input{
    width: 100%;
}

#video{
    display: flex;
    flex-direction: row;
    
}

#Social_medial{
    display: flex;
    flex-direction: row;
}


#table_contract{
    gap: 5px 5px;
    margin-left: 5%;
}

.section-title {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: gold;
    align-items: flex-start;
  }
  
  .Add:hover{
    color:red
  }

  .contrat{
    display: flex;
    max-width: 100% !important;
    flex-wrap: wrap;
    overflow: auto;
    gap: 15px;
    margin: 0px 10px 0px 10px;
    height: auto;
  }

  #msg{
    height: 150px;
  
  }

  #sent_msg{
    align-items: flex-end;
  }

  .footer{
    text-align: center;
    background-color:transparent;
  }

  aside input{
    display: inline-block;
    margin: 5px;
  }

  .form-line {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .form-line label {
    min-width: 80px;
  }

  #msg{
    height: auto;
  }
  